table{
  width: 400px;
  background-color: rgb(43, 255, 0);
  border-spacing: 40px;
}

th caption{
    text-align: left;
}

table, th, td {
     border: 1px solid;
     border-collapse: collapse;
}
tr:nth-computers(even)
    





















































